
<div class="uk-flex uk-flex-center">
	<ul class="uk-subnav uk-subnav-divider" uk-margin>
		<li><a href="/" class="nav-active">About</a></li>
		<li><a href="/portfolio">Portfolio</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/blog">Blog</a></li>
	</ul>
</div>