<!-- Contact -->
<section class='uk-padding-large'>

	<div class='uk-text-center uk-margin-large'>
		<p>Like what you see, or just want to say hello? Drop me a line!</p>
	</div>

	<div class='uk-flex uk-flex-center uk-margin-medium-bottom'>
		<ul class='uk-iconnav'>
			<li><a
					href='https://github.com/ghall89'
					target='_blank'
					uk-icon='icon: github; ratio: 2'
				></a></li>
			<li><a
					href='https://twitter.com/ohHeyItsGraham'
					target='_blank'
					uk-icon='icon: twitter; ratio: 2'
				></a></li>
			<li><a
					href='https://www.linkedin.com/in/graham-hall-89baab1a8/'
					target='_blank'
					uk-icon='icon: linkedin; ratio: 2'
				></a></li>
		</ul>
	</div>

	<form>
		<fieldset class='uk-fieldset uk-width-2-3@m uk-align-center uk-padding'>
			<div class='uk-child-width-1-2@m' uk-grid>
				<div>
					<label for='nameInput'>Name</label>
					<input
						class='uk-input'
						id='nameInput'
						type='text'
						placeholder='John Smith'
					/>
				</div>

				<div>
					<label for='emailInput'>Email</label>
					<input
						class='uk-input'
						id='emailInput'
						type='email'
						placeholder='john@company.com'
					/>
				</div>
			</div>

			<div class='uk-margin'>
				<label for='messageInput'>Message</label>
				<textarea class='uk-textarea' id='messageInput' rows='5'></textarea>
			</div>

			<button
				class='uk-button uk-button-primary uk-width-1-1'
				id='sendBtn'
			>Send</button>

		</fieldset>
	</form>

</section>

<!-- Javascript -->

<!-- Email.js -->
<script
	type='text/javascript'
	src='https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js'
></script>
<!-- Custom JS -->
<script src='./js/contact.js'></script>