<!-- About -->
<section class='uk-padding-large'>

	<div class='uk-child-width-expand@s uk-margin-large-bottom' uk-grid>

		<div class='uk-width-1-4@m uk-text-center'>
			<img
				src='https://res.cloudinary.com/dfkh0m4wf/image/upload/v1625859007/ghall.dev/portrait_y8yaqq.jpg'
				alt='Portrait of Graham'
				width='240px'
			/>

		</div>

		<div class='uk-text-center uk-text-left@m'>
			<p>Hey there! I'm Graham, and I'm a front-end web developer from Rhode
				Island.</p>

			<p>I created my first website when I was in middle school, and even though
				it wasn't that great it kicked off my love for building great things.
				All these years later, that passion still burns strong, and my skillset
				has only grown!</p>

			<p>I spent several years in the design world, but in 2020 I decided to
				make the jump towards taking on web development professionally. In
				January of 2021, I began attending a web development bootcamp with UC
				Berkeley, and graduated the following summer.</p>

			<p>When I'm not writing code you can find me playing video games, hiking,
				and trying to improve my cooking skills!</p>
		</div>

	</div>

	<div class='uk-child-width-expand@s uk-text-center' uk-grid>

		<div><a
				class='uk-button uk-button-default uk-width-1-1'
				href='./docs/graham_hall_resume.pdf'
			>Resumé</a></div>
		<div><a
				class='uk-button uk-button-default uk-width-1-1'
				target='blank'
				href='https://github.com/ghall89'
			>GitHub</a></div>

	</div>

	<div class='uk-section uk-padding-small'>
		<div class='uk-container'>

			<!-- <div class='uk-grid-match uk-child-width-1-3@m' uk-grid='masonry: true'>
				<div>
					<div class='uk-text-center uk-text-large icon-div'>
						<i aria-hidden='true' class='fas fa-swatchbook'>
							<span class='sr-only'>Design</span>
						</i>
					</div>
					<p class='uk-text-center uk-text-left@m'>
						With my background in design, I know the importance of getting the
						little details just right. Whether it's with a framework like
						Bootstrap, or built from scratch!
					</p>

				</div>
				<div>
					<div class='uk-text-center uk-text-large icon-div'>
						<i aria-hidden='true' class='fas fa-code'>
							<span class='sr-only'>Code</span>
						</i>
					</div>
					<p class='uk-text-center uk-text-left@m'>
						I'm not just about looks! With my knowledge in JavaScript, and
						various libraries including jQuery, I can build front-ends that work
						as good as they look!
					</p>

				</div>
				<div>
					<div class='uk-text-center uk-text-large icon-div'>
						<i aria-hidden='true' class='fas fa-server'>
							<span class='sr-only'>Server-Side</span>
						</i>
					</div>
					<p class='uk-text-center uk-text-left@m'>
						The back-end of your websites are just as important, and with my
						full-stack development experience I know just how to tie it all
						together, and even integrate with third-party
						<abbr title='Application Programming Interface'>API</abbr>s.
					</p>

				</div>
			</div> -->
			<div class='uk-grid-match uk-child-width-1-2@m' uk-grid='masonry: true'>
				<div>
					<h3 class='uk-heading-line uk-text-center'><span><i
								class='fas fa-tools'
							></i>
							Tools</span></h3>
					<div class='uk-grid-match uk-child-width-1-2' uk-grid='masonry: true'>
						<div>
							<ul class='uk-list uk-list-hyphen'>
								<li>Figma</li>
								<li>Sketch</li>
								<li>Git/GitHub</li>
								<li>Heroku</li>
								<li>NPM</li>
								<li>Webpack</li>
							</ul>
						</div>
						<div>
							<ul class='uk-list uk-list-hyphen'>
								<li>ZSH</li>
								<li>MacOS</li>
								<li>Linux</li>
								<li>Visual Studio Code</li>
								<li>Nova</li>
							</ul>
						</div>
					</div>
				</div>
				<div>
					<h3 class='uk-heading-line uk-text-center'><span><i
								aria-hidden='true'
								class='fas fa-code'
							></i>
							Technologies</span></h3>
					<div class='uk-grid-match uk-child-width-1-2' uk-grid='masonry: true'>
						<div>
							<ul class='uk-list uk-list-hyphen'>
								<li>HTML</li>
								<li>CSS</li>
								<li>JavaScript</li>
								<li>jQuery</li>
								<li>Express</li>
								<li>React</li>
								<li>Handlebars</li>
							</ul>
						</div>
						<div>
							<ul class='uk-list uk-list-hyphen'>
								<li>Node.js</li>
								<li>MongoDB</li>
								<li>MySQL</li>
								<li>Bootstrap</li>
								<li>Material UI</li>
								<li>UIKit</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>