<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ghall.dev - {{ page.title }}</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>


    <!-- page content -->
    <div id="target">
        <!-- navbar -->
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: true">
            <nav class="uk-navbar-container uk-padding-remove-top uk-padding-remove-bottom bg-blur" uk-navbar style="position: relative; z-index: 980; background-color: rgba(40, 56, 62, 0.95);">
                <div class="uk-navbar-left">

                    <!-- Start menu toggle for mobile screens -->
                    <a class="uk-navbar-toggle uk-hidden@m" type="button" uk-toggle="target: #offcanvas-overlay"><span uk-navbar-toggle-icon></span></a>

                    <div id="offcanvas-overlay" uk-offcanvas="mode: reveal; overlay: true">
                        <div class="uk-offcanvas-bar">

                            <button class="uk-offcanvas-close" type="button" uk-close></button>

                            <div class="uk-width-1-2@s">
                                <ul class="uk-nav-primary uk-nav-parent-icon" uk-nav>
                                    <li><a href="#about" uk-scroll offset="40" uk-toggle="target: #offcanvas-overlay">About</a></li>
                                    <li><a href="#portfolio" uk-scroll offset="40" uk-toggle="target: #offcanvas-overlay">Portfolio</a></li>
                                    <li><a href="#contact" uk-scroll offset="40" uk-toggle="target: #offcanvas-overlay">Contact</a></li>
                                </ul>
                            </div>
                            <hr>
                            <ul class="uk-iconnav uk-navbar-nav">
                                <li><a href="https://github.com/ghall89/" target="_blank">
                                    <i aria-hidden="true" class="fab fa-github mobile-icons" title="GitHub">
                                        <span class="sr-only">GitHub</span>
                                    </i>
                                </a></li>
                                <li><a href="https://www.linkedin.com/in/graham-hall-89baab1a8/" target="_blank">
                                    <i aria-hidden="true" class="fab fa-linkedin-in mobile-icons" title="LinkedIn">
                                        <span class="sr-only">LinkedIn</span>
                                    </i>
                                </a></li>
                                <li><a href="https://twitter.com/ohheyitsgraham" target="_blank">
                                    <i aria-hidden="true" class="fab fa-twitter mobile-icons" title="Twitter">
                                        <span class="sr-only">Twitter</span>
                                    </i>
                                </a></li>
                            </ul>

                        </div>
                    </div>

                    <!-- End menu for mobile screens -->


                    <ul class="uk-navbar-nav uk-visible@m">
                        <li><a href="#about" uk-scroll offset="80">About</a></li>
                        <li><a href="#portfolio" uk-scroll offset="80">Portfolio</a></li>
                        <li><a href="#contact" uk-scroll offset="80">Contact</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-center">
                    <a class="uk-navbar-item uk-logo" href="#" uk-scroll>
                        <img src="../../assets/img/logo.png" alt="logo" width="50">
                        <!-- <h1 class="uk-heading-small uk-text-muted uk-text-light uk-hidden@s">Graham Hall</h1> -->
                    </a>
                </div>

                <div class="uk-navbar-right">
                    <ul class="uk-iconnav uk-navbar-nav uk-visible@m">
                        <li><a href="https://github.com/ghall89/" target="_blank">
                            <i aria-hidden="true" class="fab fa-github uk-text-large" title="GitHub">
                                <span class="sr-only">GitHub</span>
                            </i>
                        </a></li>
                        <li><a href="https://www.linkedin.com/in/graham-hall-89baab1a8/" target="_blank">
                            <i aria-hidden="true" class="fab fa-linkedin-in uk-text-large" title="LinkedIn">
                                <span class="sr-only">LinkedIn</span>
                            </i>
                        </a></li>
                        <li><a href="https://twitter.com/ohheyitsgraham" target="_blank">
                            <i aria-hidden="true" class="fab fa-twitter uk-text-large" title="Twitter">
                                <span class="sr-only">Twitter</span>
                            </i>
                        </a></li>
                    </ul>

                </div>
            </nav>
        </div>

        <!-- Blog Content -->
        
        <div class="uk-container uk-margin">
            {{ content }}
        </div>
        

    </div>

    <footer class="uk-background-secondary uk-padding-small uk-text-center uk-text-muted footer">
        <p>
            <span>Made with <i class="fas fa-coffee"></i> in Rhode Island.</span>
            <span>Copyright&nbsp;<span id="current-year"></span>,&nbsp;Graham&nbsp;Hall.</span>
             
        </p>
        <p>
            Built with <a href="https://getuikit.com" target="_blank"><span uk-icon="icon: uikit"></span> UIkit</a>. 
            See this page on <a href="https://github.com/ghall89/portfolio" target="_blank"><span uk-icon="icon: github"></span> GitHub</a>!
        </p>
    </footer>
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit-icons.min.js"></script>
    <!-- Email.js -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <!-- Custom JS -->
    <script src="./assets/js/script.js"></script>

</body>

</html>